<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [1]:
import pandas as pd
import psycopg2

c:\Users\User\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
# вставьте сюда параметры подключения из юнита 1. Работа с базой данных из Python

In [3]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

1. Напишите запрос, который посчитает количество вакансий в нашей базе (вакансии находятся в таблице vacancies).

In [4]:
# текст запроса
query_3_1 = f'''select count(*)
                from public.vacancies
'''

In [5]:
# результат запроса
df = pd.read_sql(query_3_1, connection)
display(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15384\3473101331.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_3_1, connection)

   count
0  49197

2. Напишите запрос, который посчитает количество работодателей (таблица employers).

In [6]:
# текст запроса
query_3_2 = f'''select count(id)
                from public.employers
            '''

In [7]:
# результат запроса
df = pd.read_sql(query_3_2, connection)
display(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15384\3545547393.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_3_2, connection)

   count
0  23501

3. Посчитате с помощью запроса количество регионов (таблица areas).

In [8]:
# текст запроса
query_3_3 = f'''select count(id)
                from public.areas
            '''

In [9]:
# результат запроса
df = pd.read_sql(query_3_3, connection)
display(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15384\4247582027.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_3_3, connection)

   count
0   1362

4. Посчитате с помощью запроса количество сфер деятельности в базе (таблица industries).

In [10]:
# текст запроса
query_3_4 = f'''select count(id)
                from public.industries
            '''

In [11]:
# результат запроса
df = pd.read_sql(query_3_4, connection)
display(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15384\1813728250.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_3_4, connection)

   count
0    294

***

Данные в таблицах с указанием вакансий, работодателей, регионов и сфер деятельности, структурно взаимосвязаны между собой по набору id, что позволяет проводить анализ данных и выявлять различные характеристики их взаимосвязей.

# Юнит 4. Детальный анализ вакансий

1. Напишите запрос, который позволит узнать, сколько (cnt) вакансий в каждом регионе (area).
Отсортируйте по количеству вакансий в порядке убывания.

In [12]:
# текст запроса
query_4_1 = f'''SELECT 
    a.name as areas_name,
    COUNT(v.id) as "Количество вакансий"
FROM   
    public.areas a
JOIN public.VACANCIES v ON v.area_id = a.id
GROUP BY areas_name
ORDER BY 2 DESC
LIMIT 5
'''

In [13]:
# результат запроса
df = pd.read_sql(query_4_1, connection)
display(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15384\3060342179.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_4_1, connection)

        areas_name  Количество вакансий
0           Москва                 5333
1  Санкт-Петербург                 2851
2            Минск                 2112
3      Новосибирск                 2006
4           Алматы                 1892

2. Напишите запрос, чтобы определить у какого количества вакансий заполнено хотя бы одно из двух полей с зарплатой.

In [14]:
# текст запроса
query_4_2 = f'''SELECT 
    COUNT(VACANCIES.id) as "Количество вакансий"
FROM   
    public.VACANCIES
    WHERE salary_from IS NOT NULL or salary_to IS NOT NULL
'''

In [15]:
# результат запроса
df = pd.read_sql(query_4_2, connection)
display(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15384\3298295966.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_4_2, connection)

   Количество вакансий
0                24073

3. Найдите средние значения для нижней и верхней границы зарплатной вилки. Округлите значения до целого.

In [16]:
# текст запроса
query_4_3 = f'''SELECT
      ROUND(AVG(v.salary_from)) mean_salary
FROM 
       public.vacancies v
 WHERE v.salary_from is not Null
 UNION
  SELECT
        ROUND(AVG(v.salary_to))
  FROM 
         public.vacancies v
   WHERE v.salary_to is not Null
   '''

In [17]:
# результат запроса
df = pd.read_sql(query_4_3, connection)
display(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15384\3434435001.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_4_3, connection)

   mean_salary
0      71065.0
1     110537.0

4. Напишите запрос, который выведет количество вакансий для каждого сочетания типа рабочего графика (schedule) и типа трудоустройства (employment), используемого в вакансиях. Результат отсортируйте по убыванию количества.

In [18]:
# текст запроса
query_4_4 = f'''SELECT 
    VACANCIES.schedule as "Тип рабочего графика",
    VACANCIES.employment as "Тип трудоустройства",
    COUNT(VACANCIES.id) as "Количество вакансий"
FROM   
    public.VACANCIES
GROUP BY VACANCIES.schedule,VACANCIES.employment
ORDER BY 3 DESC
LIMIT 2
'''

In [19]:
# результат запроса
df = pd.read_sql(query_4_4, connection)
display(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15384\3721083002.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_4_4, connection)

  Тип рабочего графика Тип трудоустройства  Количество вакансий
0          Полный день    Полная занятость                35367
1     Удаленная работа    Полная занятость                 7802

5. Напишите запрос, выводящий значения поля Требуемый опыт работы (experience) в порядке возрастания количества вакансий, в которых указан данный вариант опыта.

In [20]:
# текст запроса
query_4_5 = f'''SELECT 
    VACANCIES.experience as "Опыт работы",
    COUNT(VACANCIES.id) as "Количество вакансий"
FROM   
    public.VACANCIES
GROUP BY VACANCIES.experience
ORDER BY 2 ASC
LIMIT 4
'''

In [21]:
# результат запроса
df = pd.read_sql(query_4_5, connection)
display(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15384\48430389.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_4_5, connection)

          Опыт работы  Количество вакансий
0         Более 6 лет                 1337
1           Нет опыта                 7197
2       От 3 до 6 лет                14511
3  От 1 года до 3 лет                26152

***

Детальный анализ показал ожидаемую концентрацию спроса на трудовые ресурсы в наиболее крупных городах миллионниках, средний размер зарплатных ожиданий от 70 до 100 тыс., предпочтения полной занятости независимо от типа рабочего графика и небольшого количества вакансий не содержащих требований к опыту работы, как и имеющих повышенные требования к опыту работы более 6 лет.

# Юнит 5. Анализ работодателей

1. Напишите запрос, который позволит узнать, какие работодатели находятся на первом и пятом месте по количеству вакансий.

In [36]:
# текст запроса
query_5_1 = f'''(SELECT 
    EMPLOYERS.name as "Название работодателя",
    COUNT(VACANCIES.id) as "Количество вакансий"
FROM   
    public.EMPLOYERS
JOIN public.VACANCIES ON VACANCIES.employer_id = EMPLOYERS.id
GROUP BY EMPLOYERS.name
ORDER BY 2 DESC
LIMIT 1)
UNION ALL
(SELECT 
    EMPLOYERS.name as "Название работодателя",
    COUNT(VACANCIES.id) as "Количество вакансий"
FROM   
    public.EMPLOYERS
JOIN public.VACANCIES ON VACANCIES.employer_id = EMPLOYERS.id
GROUP BY EMPLOYERS.name
ORDER BY 2 DESC
OFFSET 4 LIMIT 1)
'''

In [58]:
# результат запроса
df = pd.read_sql_query(query_5_1, connection)
df

C:\Users\User\AppData\Local\Temp\ipykernel_15384\3834399874.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_1, connection)

InterfaceError: connection already closed

2. Напишите запрос, который для каждого региона выведет количество работодателей и вакансий в нём.
Среди регионов, в которых нет вакансий, найдите тот, в котором наибольшее количество работодателей.

In [27]:
# текст запроса
query_5_2 = f'''SELECT 
    a.name as "Название региона",
    COUNT(distinct e.id) as "Количество работодателей",
    COUNT(distinct v.id) as "Количество вакансий"
FROM   
    public.AREAS a
JOIN public.EMPLOYERS e ON e.area = a.id
LEFT JOIN public.VACANCIES v ON v.area_id = a.id
WHERE v.id is NULL
GROUP BY a.name
ORDER BY 2 DESC
LIMIT 1
'''

In [33]:
# результат запроса
df = pd.read_sql_query(query_5_2, connection)
df

C:\Users\User\AppData\Local\Temp\ipykernel_15384\2250345976.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_2, connection)

InterfaceError: connection already closed

3. Для каждого работодателя посчитайте количество регионов, в которых он публикует свои вакансии. Отсортируйте результат по убыванию количества.

In [34]:
# текст запроса
query_5_3 = f'''SELECT 
    e.name as "Название работодателя",
    COUNT(distinct v.area_id) as "Количество регионов где публикуются вакансии",
    COUNT(distinct v.id) as "Количество вакансий"
FROM   
    public.EMPLOYERS e
JOIN public.VACANCIES v ON v.employer_id = e.id
GROUP BY e.name
ORDER BY 3 DESC
LIMIT 10
'''

In [35]:
# результат запроса
df = pd.read_sql_query (query_5_3, connection)
df

C:\Users\User\AppData\Local\Temp\ipykernel_15384\2827807884.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query (query_5_3, connection)

InterfaceError: connection already closed

4. Напишите запрос для подсчёта количества работодателей, у которых не указана сфера деятельности.

In [38]:
# текст запроса
query_5_4 = f'''SELECT
    COUNT(distinct e.id) as "Количество работодателей"
FROM   
    public.EMPLOYERS e
LEFT JOIN public.EMPLOYERS_INDUSTRIES i ON e.id = i.employer_id
WHERE i.industry_id IS NULL
'''

In [41]:
# результат запроса
df = pd.read_sql_query(query_5_4, connection)
df

C:\Users\User\AppData\Local\Temp\ipykernel_15384\3493105328.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query(query_5_4, connection)

InterfaceError: connection already closed

5. Напишите запрос, чтобы узнать название компании, находящейся на третьем месте в алфавитном списке (по названию) компаний, у которых указано четыре сферы деятельности.

In [ ]:
# текст запроса
query_5_5 = f'''SELECT
    e.name as "Название работодателя",
    COUNT(distinct i.industry_id) as "Количество сфер деятельности"
FROM   
    public.EMPLOYERS e
LEFT JOIN public.EMPLOYERS_INDUSTRIES i ON e.id = i.employer_id
GROUP BY e.name
HAVING COUNT(distinct i.industry_id) = 4
ORDER BY 1 ASC
OFFSET 2 LIMIT 1
'''

In [42]:
# результат запроса
df = pd.read_sql_query(query_5_5, connection)
df

NameError: name 'query_5_5' is not defined

6. С помощью запроса выясните, у какого количества работодателей в качестве сферы деятельности указана Разработка программного обеспечения.

In [43]:
# текст запроса
query_5_6 = f'''SELECT
    COUNT(distinct e.id) as "Количество работодателей"
FROM   
    public.EMPLOYERS e   
LEFT JOIN public.EMPLOYERS_INDUSTRIES i ON e.id = i.employer_id
JOIN public.INDUSTRIES y ON y.id = i.industry_id 
WHERE y.name = 'Разработка программного обеспечения'
'''

In [45]:
# результат запроса
df = pd.read_sql_query(query_5_5, connection)
df

NameError: name 'query_5_5' is not defined

7. Для компании «Яндекс» выведите список регионов-миллионников, в которых представлены вакансии компании, вместе с количеством вакансий в этих регионах. Также добавьте строку Total с общим количеством вакансий компании. Результат отсортируйте по возрастанию количества.

Список городов-милионников надо взять [отсюда](https://ru.wikipedia.org/wiki/%D0%93%D0%BE%D1%80%D0%BE%D0%B4%D0%B0-%D0%BC%D0%B8%D0%BB%D0%BB%D0%B8%D0%BE%D0%BD%D0%B5%D1%80%D1%8B_%D0%A0%D0%BE%D1%81%D1%81%D0%B8%D0%B8). 

Если возникнут трудности с этим задание посмотрите материалы модуля  PYTHON-17. Как получать данные из веб-источников и API.

In [46]:
# код для получения списка городов-милионников
import urllib.parse as req

path_common = req.urlparse('https://ru.wikipedia.org/wiki/Города-миллионеры_России#Список_городов-миллионеров')
url = path_common.scheme + '://' + req.quote(path_common.netloc) +  req.quote(path_common.path) + '#'+ req.quote(path_common.fragment)
mln_cities = tuple(pd.read_html(url)[1]['Город'])

In [47]:
# текст запроса
query_5_7 = f'''
    select
        a.name as region,
        count(*) as vacancies_count
    from
        public.vacancies as v
        join public.employers as e on v.employer_id = e.id
        join public.areas as a on v.area_id = a.id
    group by
        v.area_id, a.name, e.id, e.name
    having
        a.name in {tuple(mln_cities)} and e.name = 'Яндекс'
    

    union all
    

    select
        'Total',
        sum(x.cnt)
    from
        (select
            count(*) as cnt
        from
            public.vacancies as v
            join public.employers as e on v.employer_id = e.id
            join public.areas as a on v.area_id = a.id
        group by
            v.area_id, a.name, e.id, e.name
        having
            a.name in {tuple(mln_cities)} and e.name = 'Яндекс'
        ) as x
    order by 2
    '''

In [48]:
# результат запроса
df = pd.read_sql(query_5_7, connection)
display(df)

C:\Users\User\AppData\Local\Temp\ipykernel_15384\1396084416.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql(query_5_7, connection)

InterfaceError: connection already closed

***

Анализ по работодателям покозал, что наибольшее колличество вакансий в наибольшем количестве регионов где эти вакансии размещены у компаний из ИТ, телекома и финансового сектора.

# Юнит 6. Предметный анализ

1. Сколько вакансий имеет отношение к данным?

Считаем, что вакансия имеет отношение к данным, если в её названии содержатся слова 'data' или 'данн'.

*Подсказка: Обратите внимание, что названия вакансий могут быть написаны в любом регистре.*

In [49]:
# текст запроса
query_6_1 = '''select count(*)
                from public.vacancies
                where name ilike '%data%' or name ilike '%данн%'
'''

In [51]:
# результат запроса
df = pd.read_sql_query (query_6_1, connection)
df

C:\Users\User\AppData\Local\Temp\ipykernel_15384\2916403832.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query (query_6_1, connection)

InterfaceError: connection already closed

2. Сколько есть подходящих вакансий для начинающего дата-сайентиста? 
Будем считать вакансиями для дата-сайентистов такие, в названии которых есть хотя бы одно из следующих сочетаний:
* 'data scientist'
* 'data science'
* 'исследователь данных'
* 'ML' (здесь не нужно брать вакансии по HTML)
* 'machine learning'
* 'машинн%обучен%'

** В следующих заданиях мы продолжим работать с вакансиями по этому условию.*

Считаем вакансиями для специалистов уровня Junior следующие:
* в названии есть слово 'junior' *или*
* требуемый опыт — Нет опыта *или*
* тип трудоустройства — Стажировка.

In [ ]:
# текст запроса
query_6_2 = '''
    select count(*)
    from
        public.vacancies v
    where
        (v.name ILIKE '%data scientist%' OR
        v.name ILIKE '%data science%'OR
        v.name ILIKE '%исследователь данных%' OR
        (v.name ILIKE '%ML%' AND v.name NOT ILIKE '%HTML%') OR
        v.name ILIKE '%machine learning%' OR v.name ILIKE '%машинн%обучен%')
        and
        (v.name ILIKE '%junior%' or
        v.experience = 'Нет опыта' or
        v.employment ILIKE '%стажировка%')
'''

In [ ]:
# результат запроса
df = pd.read_sql_query (query_6_2, connection)
df

3. Сколько есть вакансий для DS, в которых в качестве ключевого навыка указан SQL или postgres?

** Критерии для отнесения вакансии к DS указаны в предыдущем задании.*

In [ ]:
# текст запроса
query_6_3 = f'''SELECT count(vacancies.name) as n_vac
                FROM vacancies
                WHERE (lower(vacancies.name) LIKE '%data scientist%' 
                or lower(vacancies.name) LIKE '%data science%' 
                or lower(vacancies.name) LIKE '%исследователь данных%' 
                or lower(vacancies.name) LIKE '%ml%' and vacancies.name NOT LIKE '%HTML%' and vacancies.name not like '%QML%' 
                or lower(vacancies.name) LIKE '%machine learning%' 
                or lower(vacancies.name) LIKE '%машинн%обучен%') 
                and(lower(vacancies.key_skills) LIKE '%postgres%'
                or lower(vacancies.key_skills) LIKE '%sql%')
             '''

In [ ]:
# результат запроса
df = pd.read_sql_query (query_6_3, connection)
df

4. Проверьте, насколько популярен Python в требованиях работодателей к DS.Для этого вычислите количество вакансий, в которых в качестве ключевого навыка указан Python.

** Это можно сделать помощью запроса, аналогичного предыдущему.*

In [ ]:
# текст запроса
query_6_4 = f'''
                SELECT count(vacancies.name) as n_vac
                FROM vacancies
                WHERE (lower(vacancies.name) LIKE '%data scientist%' 
                  or lower(vacancies.name) LIKE '%data science%' 
                  or lower(vacancies.name) LIKE '%исследователь данных%' 
                  or lower(vacancies.name) LIKE '%ml%' and vacancies.name NOT LIKE '%HTML%' and vacancies.name not like '%QML%' 
                  or lower(vacancies.name) LIKE '%machine learning%' 
                  or lower(vacancies.name) LIKE '%машинн%обучен%') 
                  and(lower(vacancies.key_skills) LIKE  '%Python%'
'''

In [ ]:
# результат запроса
df = pd.read_sql_query (query_6_4, connection)
df

5. Сколько ключевых навыков в среднем указывают в вакансиях для DS?
Ответ округлите до двух знаков после точки-разделителя.

In [52]:
# текст запроса
query_6_5 = f'''
SELECT 
    round(avg(length(key_skills)-length(replace(key_skills, CHR(9), ''))+1), 2) as result
FROM public.VACANCIES v
where 
(
  name ilike '%data scientist%'or
  name ilike '%data science%'or
  name ilike '%исследователь данных%'or
  (name like '%ML%' and name not ilike '%HTML%') or
  name ilike '%machine learning%' or name ilike '%машинн%обучен%'
)
'''

In [53]:
# результат запроса
df = pd.read_sql_query (query_6_5, connection)
df

C:\Users\User\AppData\Local\Temp\ipykernel_15384\1144307522.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query (query_6_5, connection)

InterfaceError: connection already closed

6. Напишите запрос, позволяющий вычислить, какую зарплату для DS в **среднем** указывают для каждого типа требуемого опыта (уникальное значение из поля *experience*). 

При решении задачи примите во внимание следующее:
1. Рассматриваем только вакансии, у которых заполнено хотя бы одно из двух полей с зарплатой.
2. Если заполнены оба поля с зарплатой, то считаем зарплату по каждой вакансии как сумму двух полей, делённую на 2. Если заполнено только одно из полей, то его и считаем зарплатой по вакансии.
3. Если в расчётах участвует null, в результате он тоже даст null (посмотрите, что возвращает запрос select 1 + null). Чтобы избежать этой ситуацию, мы воспользуемся функцией [coalesce](https://postgrespro.ru/docs/postgresql/9.5/functions-conditional#functions-coalesce-nvl-ifnull), которая заменит null на значение, которое мы передадим. Например, посмотрите, что возвращает запрос `select 1 + coalesce(null, 0)`

Выясните, на какую зарплату в среднем может рассчитывать дата-сайентист с опытом работы от 3 до 6 лет. Результат округлите до целого числа.

In [54]:
# текст запроса
query_6_6 = f'''
SELECT 
    experience as "опыт работы",
    ROUND(AVG(COALESCE((salary_from + salary_to) / 2, salary_from, salary_to)), 0) as "средний размер зарплаты"
FROM public.VACANCIES v
where 
(
  name ilike '%data scientist%'or
  name ilike '%data science%'or
  name ilike '%исследователь данных%'or
  (name like '%ML%' and name not ilike '%HTML%') or
  name ilike '%machine learning%' or name ilike '%машинн%обучен%'
)
AND experience = 'От 3 до 6 лет'
AND (salary_from IS NOT NULL OR salary_to IS NOT NULL)
GROUP BY experience
'''

In [55]:
# результат запроса
df = pd.read_sql_query (query_6_6, connection)
df

C:\Users\User\AppData\Local\Temp\ipykernel_15384\3310421505.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query (query_6_6, connection)

InterfaceError: connection already closed

***

# выводы по предметному анализу

# Общий вывод по проекту

Проведенный анализ данных показал возможность с использованием данной базы данных определять количественные и качественные фарактеристики по различным типам данных, относящихся к вакансиям, работодателям, регионам и отраслям, определять различные взаимосвязи между разными разделами данных благодаря наличию связывающих данные в разных таблицах id.